<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Librería</title>
    <style>
      table,td,th{
        border: 1px  solid black;
        border-collapse: collapse;
        
      }
    </style>
  </head>
  <body>
    <h1>Libros</h1>
    <table>
      <tr>
        <th>Id</th>
        <th>Isbn</th>
        <th>Titulo</th>
        <th>Año</th>
        <th>Ejemplares</th>
        <th>Ejemplares Prestados</th>
        <th>Ejemplares Restantes</th>
        <th>Alta</th>
        <th>Autor</th>
        <th>Editorial</th>
      </tr>
      <tr>
          <td>1</td>
          <td>100</td>
          <td>El libro de arena</td>
          <td>1930</td>
          <td>5</td>
          <td>0</td>
          <td>5</td>
          <td>true</td>
          <td>Borges</td>
          <td>Planeta</td>
      </tr>
    </table>
  </body>
</html>
