<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Librería</title>
</head>
<body>
    <h1>Menú Librería</h1>
    <ul>
        <li><a>Ingresar Libro</a></li>
        <li><a>Modificar Libro</a></li>
        <li><a>Dar de alta un Libro</a></li>
        <li><a>Dar de baja un libro</a></li>
        <li><a>Ver todos los Libros</a></li>

    </ul>
</body>
</html>