<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Librería</title>
    <style>
      table,td,th{
        border: 1px  solid black;
        border-collapse: collapse;
        
      }
    </style>
  </head>
  <body>
    <h1>Autores</h1>
    <table>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Alta</th>
      </tr>
      <tr th:each="autor : ${autores}">
          <td th:text="${autor.id}"></td>
          <td th:text="${autor.nombre}"></td>
          <td th:text="${autor.alta}"></td>
      </tr>
    </table>
  </body>
</html>

